# AWS Config
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=011528270076

# SageMaker
SAGEMAKER_ROLE_ARN=arn:aws:iam::011528270076:role/sagemaker-churn-execution-role
S3_BUCKET=churn-sagemaker-artifacts

# ECR
ECR_IMAGE=011528270076.dkr.ecr.us-east-1.amazonaws.com/churn-mlops:latest

# KMS
KMS_KEY_ARN=arn:aws:kms:us-east-1:011528270076:key/7a472d8c-f8ab-427b-8ff3-af364d070429
KMS_ALIAS=alias/churn-mlops-key

# Endpoints
SERVERLESS_ENDPOINT=churn-prediction-serverless
AB_TEST_ENDPOINT=churn-ab-test-endpoint

# MLflow
MLFLOW_TRACKING_URI=https://app-tu745aodtbzc.mlflow.sagemaker.us-east-1.app.aws/
MLFLOW_EXPERIMENT=churn-prediction
